.App {
  text-align: center;
}

.container {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5px;
}

.nav-panel {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message-item {
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  width: 70%;
  padding: 15px;
}